.clockNumber{
    position: absolute;
    width: 70px;
    font-size: 36px;
    line-height: 0px;
    text-align: center;
    color: var(--secondary);
    z-index: 1;
}
#clock{
    position: relative;
    display: block;
    height: 70px;
    width: 70px;
    margin: 29x;
}
.progressBar{
    position: absolute;
    height: 66px;
    width: 66px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:var(--secondary);
    z-index: 0;
}

#h{
    
    bottom: 25%;
}
#m{
    top:25%
}
.clockBar{
    animation: dash 5s linear forwards;
}

