.navigationMap{
    height: 400px;
    width: 700px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--cardRadius);
    overflow: hidden;
    
}

.map-container{
    height: 400px;
    width: 700px;
    z-index: 0;
}


.routeManager{
    background-color: var(--backgroundTraslucent);
    position: absolute;
    display: flex;
    z-index: 1;
    box-shadow: 0px 0px 3px var(--secondary);
    top: 5px;
    left: 5px;
    width: 46px;
    height: 46px;
    transition: all 0.2s ease-in-out;
}

#closed.routeManager{
    border-radius: var(--cardRadius);
    

}
#opened.routeManager{
    border-radius: var(--cardRadius);
    height: fit-content;
    max-height: calc(100% - 10px);
    
    width: 40%;
}


.routeEditor{
    width: 100%;
    height: 100%;
}


.routeIcon{
    height: 24px;
    width: 24px;
}

.routeIcon#close{
    top:14px;
    right: 10px;
    z-index: 2;
}

.routeIcon#directions{
    position: absolute;
    padding:0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.routeCreator{
    padding: 10px 0 0px 0;
    z-index: 1;
}

.routeEditorHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 30px;
    padding: 10px 10px 5px 10px;
}

.routeManager h4 {
    display: block;
    width: fit-content;
    line-height: 30px;
    margin: 0;

}



.locationsInputs{
    background-color: var(--backgroundWidgetTraslucent);
    height: fit-content;
    width: calc(100% - 20px);
    border-radius: var(--cardRadius);
    padding: 10px;
    
}



.routeContent{
    background-color: var(--backgroundWidgetTraslucent);
    max-height: calc( 100% - 50px);
    height: fit-content;
    border-radius: var(--cardRadius);
    padding: 10px;
    
    overflow: hidden;
}

.routeContent h5{

}

