.Solar{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: var(--backgroundWidget);
}
.solIcon{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 7%;
    left: 0;
    right: 0;
    margin: auto;
}
.Solar h3{
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    top:30%;
    margin: auto;
}
.Solar .auxiliar{
    position: absolute;
    width: fit-content;
    color: var(--secondary);
    left: 0;
    right: 0;
    margin: auto;
}

.percentage{
    top: 60%;
}

.heat{
    top: 75%;
}